<a href="https://colab.research.google.com/github/VitorBSP/Python_Alura/blob/main/Lista_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quest√£o 1 - Letra A

In [113]:
import pandas as pd

In [114]:
droga = '6, 6, 6, 6+, 7, 9+, 10, 10+, 11+, 13, 16, 17+, 19+, 20+, 22, 23, 25+, 32+, 32+, 34+, 35+'
droga = droga.split(', ')
cens = list(map(lambda x: 0 if '+' in x else 1,droga))

In [115]:
placebo = [1, 1, 2, 2, 3, 4, 4, 5, 5, 8, 8, 8, 8, 11, 11, 12, 12, 15, 17, 22, 23]
cens += [1]*len(placebo)

In [116]:
droga = list(map(lambda x: int(x.replace("+","")) if '+' in x else int(x),droga))
ind = droga + placebo
grupo = [0]*len(droga) + [1]*len(placebo)

In [117]:
dados1 =  pd.DataFrame({'individuo' : ind, 
                        'censura' : cens, 
                        'grupo' : grupo})
dados1

    individuo  censura  grupo
0           6        1      0
1           6        1      0
2           6        1      0
3           6        0      0
4           7        1      0
5           9        0      0
6          10        1      0
7          10        0      0
8          11        0      0
9          13        1      0
10         16        1      0
11         17        0      0
12         19        0      0
13         20        0      0
14         22        1      0
15         23        1      0
16         25        0      0
17         32        0      0
18         32        0      0
19         34        0      0
20         35        0      0
21          1        1      1
22          1        1      1
23          2        1      1
24          2        1      1
25          3        1      1
26          4        1      1
27          4        1      1
28          5        1      1
29          5        1      1
30          8        1      1
31          8        1      1
32          8        1      1
33          8        1      1
34         11        1      1
35         11        1      1
36         12        1      1
37         12        1      1
38         15        1      1
39         17        1      1
40         22        1      1
41         23        1      1