# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

In [ ]:
dados = {
    'Crossfox': {'valor': 72000, 'ano': 2005}, 
    'DS5': {'valor': 125000, 'ano': 2015}, 
    'Fusca': {'valor': 150000, 'ano': 1976}, 
    'Jetta': {'valor': 88000, 'ano': 2010}, 
    'Passat': {'valor': 106000, 'ano': 1998}
}

('Crossfox', {'valor': 72000, 'ano': 2005})
{'valor': 72000, 'ano': 2005}
('DS5', {'valor': 125000, 'ano': 2015})
{'valor': 125000, 'ano': 2015}
('Fusca', {'valor': 150000, 'ano': 1976})
{'valor': 150000, 'ano': 1976}
('Jetta', {'valor': 88000, 'ano': 2010})
{'valor': 88000, 'ano': 2010}
('Passat', {'valor': 106000, 'ano': 1998})
{'valor': 106000, 'ano': 1998}

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

In [ ]:
!python -V

Python 3.6.9

# 1.3 Trabalhando com dados

In [ ]:
import pandas as pd
# pd.set_option('display.max.rows', 1000)
# pd.set_option('display.max.columns', 1000)

In [ ]:
dataset = pd.read_csv('db.csv', sep=';')

In [ ]:
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [ ]:
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [ ]:
dataset[['Quilometragem', 'Valor']].describe()
#count é o número de objetos

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [ ]:
()

()

In [ ]:
(1,2,3)

(1, 2, 3)

In [ ]:
name = 'Passat'
valor = 153000
(name,valor)

('Passat', 153000)

In [ ]:
nome_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nome_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
type(nome_carros)

tuple

# 2.2 Seleções em tuplas

In [ ]:
nome_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nome_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
nome_carros[0]

'Jetta Variant'

In [ ]:
nome_carros[1]

'Passat'

In [ ]:
nome_carros[-1]

'DS5'

In [ ]:
nome_carros[1:3]

('Passat', 'Crossfox')

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [ ]:
nomes_carros[-1]

('Fusca', 'Gol', 'C4')

In [ ]:
nomes_carros[-1][-2]

'Gol'

# 2.3 Iterando em tuplas

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
for item in nomes_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacotamento de tuplas

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
carro_1, carro_2, carro_3, carro_4 = nomes_carros

In [ ]:
carro_1

'Jetta Variant'

In [ ]:
carro_2

'Passat'

In [ ]:
carro_3

'Crossfox'

In [ ]:
carro_4

'DS5'

In [ ]:
_,A,_,B = nome_carros
#ignorando alguns valores

In [ ]:
A

'Passat'

In [ ]:
B

'DS5'

In [ ]:
_,C, *_ = nomes_carros

In [ ]:
C
#Ignora todos os valores depois do C por causa do *_

'Passat'

In [ ]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

for tupla in carros:
    for item in tupla[0]:
      print(item)

J
e
t
t
a

V
a
r
i
a
n
t
P
a
s
s
a
t

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [ ]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [ ]:
list(zip(carros,valores))
#criou tuplas com cada posição de cada

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [ ]:
for item in zip(carros, valores):
  print(item)
  #Ele printou como tupla

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [ ]:
for carro,valor in zip(carros, valores):
  print(carro,valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [ ]:
for carro,valor in zip(carros, valores):
  if valor > 100000:
    print(carro)

Passat
DS5

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [ ]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [ ]:
carros.index('Passat')

1

In [ ]:
#Pegar o valor do Passat que está na lista valores
valores[carros.index('Passat')]

106161.94

In [ ]:
dados = {'Jetta Variant' :88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [ ]:
type(dados)

dict

### Criando dicionários com *zip()*

In [ ]:
list(zip(carros,valores))
#Tem

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [ ]:
dados = dict(zip(carros,valores))
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

# 3.2 Operações com dicionários

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [ ]:
dados['Passat']

106161.94

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [ ]:
'Passat' in dados

True

In [ ]:
'Fusca' in dados

False

In [ ]:
'Fusca' not in dados

True

## *len(dict)*

Retorna o número de itens do dicionário.

In [ ]:
len(dados)
#Conta os pares de chave e valor que tem dentro do dicionário

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [ ]:
dados['DS5'] = 124549.07

In [ ]:
dados
#Agora tem quatro pares de dados, quatro chaves e quatro valores

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [ ]:
del dados['Passat']
dados

In [ ]:
dados

{'Crossfox': 72832.16, 'DS5': 124549.07, 'Jetta Variant': 88078.64}

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [ ]:
dados.update({'Passat': 106161.94})

In [ ]:
dados.update({'Passat': 106161.95, 'Fusca': 150000})

## *dict.copy()*

Cria uma cópia do dicionário.

In [ ]:
#Tem que utilizar o copy para fazer uma cópia pois se usar o igual muda os dois elementos
dados2 = dados.copy()

In [ ]:
dados2

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [ ]:
del dados2['Fusca']

In [ ]:
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [ ]:
dados2

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [ ]:
#dados2.pop('Passat')

106161.95

In [ ]:
dados2

{'Crossfox': 72832.16, 'DS5': 124549.07, 'Jetta Variant': 88078.64}

In [ ]:
dados2.pop('Passat', 'Chave não encontrada')

'Chave não encontrada'

In [ ]:
dados2.pop('DS5', 'Chave não encontrada')

124549.07

In [ ]:
dados2

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64}

## *dict.clear()*

Remove todos os itens do dicionário.

In [ ]:
dados2.clear()

In [ ]:
dados2

{}

# 3.4 Iterando em dicionários

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [ ]:
dados.keys()

dict_keys(['Jetta Variant', 'Crossfox', 'DS5', 'Passat', 'Fusca'])

In [ ]:
for key in dados.keys():
  print('A key é: ', key, 'e o valor é: ', dados[key])

A key é:  Jetta Variant e o valor é:  88078.64
A key é:  Crossfox e o valor é:  72832.16
A key é:  DS5 e o valor é:  124549.07
A key é:  Passat e o valor é:  106161.95
A key é:  Fusca e o valor é:  150000

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [ ]:
dados.values()

dict_values([88078.64, 72832.16, 124549.07, 106161.95, 150000])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [ ]:
dados.items()
#Faz um tupla com Item e valor

dict_items([('Jetta Variant', 88078.64), ('Crossfox', 72832.16), ('DS5', 124549.07), ('Passat', 106161.95), ('Fusca', 150000)])

In [ ]:
for item in dados.items():
  print(item)

('Jetta Variant', 88078.64)
('Crossfox', 72832.16)
('DS5', 124549.07)
('Passat', 106161.95)
('Fusca', 150000)

In [ ]:
for key, value in dados.items():
  print(key)
  print(value)

Jetta Variant
88078.64
Crossfox
72832.16
DS5
124549.07
Passat
106161.95
Fusca
150000

In [ ]:
for key in dados.items():
  for item in key:
    print(item)

In [ ]:
for key, value in dados.items():
  if value > 120000:
    print(key)

DS5
Fusca

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [ ]:
#Meu método
soma = 0
for item in dados.items():
  soma = soma + item[1]
print(soma)

#Método do professor
valores = []
for valor in dados.values():
  valores.append(valor)
valores

267072.74

[88078.64, 106161.94, 72832.16]

In [ ]:
#Outro método do professor
soma1 = 0
for valor in dados.values():
  soma1 += valor
soma1

267072.74

In [ ]:
list(dados.values())

[88078.64, 106161.94, 72832.16]

In [ ]:
sum(dados.values())

267072.74

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print?

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [ ]:
#Função para calcular a média
def media():
  valor = (1 + 2 + 3 )/3
  print(valor)

In [ ]:
media()

2.0

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [ ]:
def media(n1, n2, n3):
  valor = (n1 + n2 + n3)/3
  return valor

In [ ]:
v1 = media(45,23,67)
v1*4

180.0

In [ ]:
def media(lista):
  valor = sum(lista)/len(lista)
  return valor

In [ ]:
v2 = media([12,13,14,15,16])
v2

14.0

In [ ]:
#Pode-se fazer funções que não retornem nada, mas apareçam valores, usando print

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [ ]:
def media(lista):
  valor = sum(lista)/len(lista)
  return valor

In [ ]:
result = media([1,2,3,4,5,6,7,8,9])

In [ ]:
result

5.0

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [ ]:
def media(lista):
  valor = sum(lista)/len(lista)
  return (valor, len(lista))

In [ ]:
result, n = media([1,2,3,4,5,6,7,8,9])

In [ ]:
result

5.0

In [ ]:
n

9

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

In [ ]:
import pandas as pd

### Criando uma Series a partir de uma lista

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [ ]:
pd.Series(carros)
#indices | valores

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

### Criando um DataFrame a partir de uma lista de dicionários

In [ ]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [ ]:
dataset = pd.DataFrame(dados)
dados[1]['Nome']
#O dataset é meu dataframe

'Passat'

In [ ]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [ ]:
dataset[['Nome', 'Motor', 'Ano', 'Quilometragem', 'Zero_km', 'Valor']]
#Muda a ordem em que está disposto os dados definindo a ordem das colunas

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de um dicionário

In [ ]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [ ]:
dataset = pd.DataFrame(dados)

In [ ]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de uma arquivo externo

In [ ]:
dataset = pd.read_csv('db.csv', ';')
#dataset = pd.read_csv('db.csv', ';', index_col = 0) Faz com que a primeira variável se torne um index.
#Não sendo mais uma váriavel mas sim o jeito de localizar os elementos
#Sendo o nome nesse caso o rótulo do dataset

In [ ]:
dataset = pd.read_csv('db.csv', ';', index_col = 0)

# 5.2 Seleções com DataFrames

### Selecionando colunas

In [ ]:
#Selecionando a coluna valor
dataset['Valor']

Nome
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [ ]:
type(dataset['Valor'])

pandas.core.series.Series

In [ ]:
dataset[['Valor']]
#Uma única como dataframe

                           Valor
Nome
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 1 columns]

In [ ]:
type(dataset[['Valor']])

pandas.core.frame.DataFrame

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

In [ ]:
dataset[:4]
#Definindo quais as linhas vão ser mostradas

                         Motor  ...      Valor
Nome                            ...
Jetta Variant  Motor 4.0 Turbo  ...   88078.64
Passat            Motor Diesel  ...  106161.94
Crossfox       Motor Diesel V8  ...   72832.16
DS5            Motor 2.4 Turbo  ...  124549.07

[4 rows x 6 columns]

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

In [ ]:
dataset.loc['Passat']
#Define entre as [] o que vai ser selecionado para ser mostrado, os nomes dos carros são índices
#Então Passat é um índice e logo pega as informações que tem na linha do índice Passat

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                                 5712
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                       106162
Name: Passat, dtype: object

In [ ]:
dataset.loc[['Passat', 'DS5']]

                  Motor  ...      Valor
Nome                     ...
Passat     Motor Diesel  ...  106161.94
DS5     Motor 2.4 Turbo  ...  124549.07

[2 rows x 6 columns]

In [ ]:
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]
#Primeiro as informações da linha e depois as informações das colunas, utilizando os rótulos

                  Motor      Valor
Nome
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

In [ ]:
dataset.loc[:, ['Motor', 'Valor']]

                                       Motor      Valor
Nome
Jetta Variant                Motor 4.0 Turbo   88078.64
Passat                          Motor Diesel  106161.94
Crossfox                     Motor Diesel V8   72832.16
DS5                          Motor 2.4 Turbo  124549.07
Aston Martin DB4             Motor 2.4 Turbo   92612.10
...                                      ...        ...
Phantom 2013                        Motor V8   51759.58
Cadillac Ciel concept               Motor V8   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                Motor Diesel  122110.90
Macan                        Motor Diesel V6   90381.47

[258 rows x 2 columns]

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

In [ ]:
#Mesma coisa do loc, porém usa o índices numéricos
dataset.head()

                            Motor  ...      Valor
Nome                               ...
Jetta Variant     Motor 4.0 Turbo  ...   88078.64
Passat               Motor Diesel  ...  106161.94
Crossfox          Motor Diesel V8  ...   72832.16
DS5               Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4  Motor 2.4 Turbo  ...   92612.10

[5 rows x 6 columns]

In [ ]:
dataset.iloc[[1]]

               Motor  ...      Valor
Nome                  ...
Passat  Motor Diesel  ...  106161.94

[1 rows x 6 columns]

In [ ]:
dataset.iloc[1:4]

                    Motor  ...      Valor
Nome                       ...
Passat       Motor Diesel  ...  106161.94
Crossfox  Motor Diesel V8  ...   72832.16
DS5       Motor 2.4 Turbo  ...  124549.07

[3 rows x 6 columns]

In [ ]:
dataset.iloc[1:4, [0,5,2]]

                    Motor      Valor  Quilometragem
Nome
Passat       Motor Diesel  106161.94         5712.0
Crossfox  Motor Diesel V8   72832.16        37123.0
DS5       Motor 2.4 Turbo  124549.07            NaN

In [ ]:
dataset.iloc[:, [0,5,2]]

                                       Motor      Valor  Quilometragem
Nome
Jetta Variant                Motor 4.0 Turbo   88078.64        44410.0
Passat                          Motor Diesel  106161.94         5712.0
Crossfox                     Motor Diesel V8   72832.16        37123.0
DS5                          Motor 2.4 Turbo  124549.07            NaN
Aston Martin DB4             Motor 2.4 Turbo   92612.10        25757.0
...                                      ...        ...            ...
Phantom 2013                        Motor V8   51759.58        27505.0
Cadillac Ciel concept               Motor V8   51667.06        29981.0
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03        52637.0
Aston Martin DB5                Motor Diesel  122110.90         7685.0
Macan                        Motor Diesel V6   90381.47        50188.0

[258 rows x 3 columns]

# 5.3 Queries com DataFrames

In [ ]:
import pandas as pd
dataset = pd.read_csv('db.csv', ';')

In [ ]:
dataset.head()

               Nome  ...      Valor
0     Jetta Variant  ...   88078.64
1            Passat  ...  106161.94
2          Crossfox  ...   72832.16
3               DS5  ...  124549.07
4  Aston Martin DB4  ...   92612.10

[5 rows x 7 columns]

In [ ]:
#Query para verificar os motores
dataset.Motor

0      False
1       True
2      False
3      False
4      False
       ...
253    False
254    False
255    False
256     True
257    False
Name: Motor, Length: 258, dtype: bool

In [ ]:
dataset.Motor == 'Motor Diesel'
#Desse jeito ele vai retornar uma series boleana, ou seja, uma series que vai ter elementos apenas de true ou false
#Ao elemento que usamos para comparar

0      False
1       True
2      False
3      False
4      False
       ...
253    False
254    False
255    False
256     True
257    False
Name: Motor, Length: 258, dtype: bool

In [ ]:
#Fazer com que retorne só os elementos que são true
select = dataset.Motor == 'Motor Diesel'
type(select)
#Transformamos nosso DataFrame em uma Series

pandas.core.series.Series

In [ ]:
dataset[select]
#Retorna todos os carros que tenham motor a diesel

                      Nome  ...      Valor
1                   Passat  ...  106161.94
23   Effa Hafei Picape Baú  ...  125684.65
60                 Sorento  ...   81399.35
62        New Fiesta Hatch  ...   66007.16
69          Kangoo Express  ...  146716.91
74                     Fit  ...   77836.23
78             Cielo Hatch  ...  145197.70
86                  Symbol  ...  133030.60
89                A4 Sedan  ...   96369.04
111               A4 Avant  ...  138946.88
119          Silver Shadow  ...  143568.22
124                  Camry  ...  138597.27
145                   Clio  ...  111130.33
148       Série 3 M3 Coupé  ...   69219.89
149    Gallardo LP 560 – 4  ...  144118.91
157          Chana Utility  ...  132662.32
173            TT Roadster  ...   85311.40
189    Aston Martin Virage  ...   97290.18
208                Sandero  ...  112350.61
210                    XKR  ...   54263.16
211                     X5  ...   62041.32
226           Dodge Dakota  ...  141083.35
233                 i30 CW  ...   73311.75
237           Série 7 Sedã  ...   67539.79
240                    V60  ...  114728.74
256       Aston Martin DB5  ...  122110.90

[26 rows x 7 columns]

In [ ]:
#Podemos usar mais de uma condição nessa query
dataset[(dataset.Motor=='Motor Diesel') & (dataset.Zero_km == True)]
#Query direta de dois elementos
#Também é uma series booleana

                    Nome  ...      Valor
60               Sorento  ...   81399.35
78           Cielo Hatch  ...  145197.70
124                Camry  ...  138597.27
189  Aston Martin Virage  ...   97290.18
237         Série 7 Sedã  ...   67539.79

[5 rows x 7 columns]

In [ ]:
(dataset.Motor=='Motor Diesel') & (dataset.Zero_km == True)
#Mais especificado essa é a series do anterior espandida, 258 elementoes e os que não cumprem os requisitos da querie são falsos

0      False
1      False
2      False
3      False
4      False
       ...
253    False
254    False
255    False
256    False
257    False
Length: 258, dtype: bool

### Utilizando o método query

In [ ]:
#Método mais elegante
dataset.query('Motor == "Motor Diesel" and Zero_km == True')
#Faz uma consulta no banco de dados

                    Nome  ...      Valor
60               Sorento  ...   81399.35
78           Cielo Hatch  ...  145197.70
124                Camry  ...  138597.27
189  Aston Martin Virage  ...   97290.18
237         Série 7 Sedã  ...   67539.79

[5 rows x 7 columns]

# 5.4 Iterando com DataFrames

In [ ]:
#Formas simples de fazer iterações, que se o DataFrame for muito grande não vai ser muito efetiva
#Vai demorar muito e ter muito custo operacional 
#O que não teria se fosse como o aplly e a função lambda 
import pandas as pd
dataset = pd.read_csv('db.csv', ';')

In [ ]:
for item in dataset:
  print(item)

Nome
Motor
Ano
Quilometragem
Zero_km
Acessórios
Valor

In [ ]:
list(dataset.iterrows())
#É uma lista com tuplas
#Essa tupla tem o índice da linha
#E tem também uma series com informações dos linha/índices

In [ ]:
#Desempacotamento de tuplas
for index, row in dataset.iterrows():
  #Desse jeito separamos o índice do que contém a linha, separamos o nome do carro do seus atributos
  if (2019 - row['Ano'] != 0):
    dataset.loc[index, 'Km_media'] = row['Quilometragem'] / (2019 - row['Ano'])
    #Na linha com índice tal, adicionar o atributo km_media e colocar ele como tal
  else:
    dataset.loc[index, 'Km_media'] = 0
dataset

                      Nome                  Motor  ...      Valor     Km_media
0            Jetta Variant        Motor 4.0 Turbo  ...   88078.64  2775.625000
1                   Passat           Motor Diesel  ...  106161.94   204.000000
2                 Crossfox        Motor Diesel V8  ...   72832.16  1280.103448
3                      DS5        Motor 2.4 Turbo  ...  124549.07     0.000000
4         Aston Martin DB4        Motor 2.4 Turbo  ...   92612.10  1981.307692
..                     ...                    ...  ...        ...          ...
253           Phantom 2013               Motor V8  ...   51759.58  5501.000000
254  Cadillac Ciel concept               Motor V8  ...   51667.06  1070.750000
255             Classe GLK  Motor 5.0 V8 Bi-Turbo  ...   68934.03  3096.294118
256       Aston Martin DB5           Motor Diesel  ...  122110.90   334.130435
257                  Macan        Motor Diesel V6  ...   90381.47  1858.814815

[258 rows x 8 columns]

# 5.5 Tratamento de dados

In [ ]:
dataset.head()

               Nome            Motor  ...      Valor     Km_media
0     Jetta Variant  Motor 4.0 Turbo  ...   88078.64  2775.625000
1            Passat     Motor Diesel  ...  106161.94   204.000000
2          Crossfox  Motor Diesel V8  ...   72832.16  1280.103448
3               DS5  Motor 2.4 Turbo  ...  124549.07     0.000000
4  Aston Martin DB4  Motor 2.4 Turbo  ...   92612.10  1981.307692

[5 rows x 8 columns]

In [ ]:
dataset.info()
#Observamos que temos 258 carros diferentes
#Mas em quilometragem temos apenas 197 dados não nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
 7   Km_media       258 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(3)
memory usage: 14.5+ KB

In [ ]:
#Selecionar informações nulas para tratá-las:
dataset.Quilometragem.isna()
#Verifica se é nulo, se for nulo= true
#Se for não nulo = false

0      False
1      False
2      False
3       True
4      False
       ...
253    False
254    False
255    False
256    False
257    False
Name: Quilometragem, Length: 258, dtype: bool

In [ ]:
dataset[dataset.Quilometragem.isna()]
#Retorna apenas os dados que deram true, para serem tratados

                     Nome            Motor  ...      Valor  Km_media
3                     DS5  Motor 2.4 Turbo  ...  124549.07       0.0
6                      A5  Motor 4.0 Turbo  ...   56445.20       0.0
13                     J5         Motor V6  ...   53183.38       0.0
17                     A3     Motor 1.0 8v  ...   88552.39       0.0
21              Série 1 M         Motor V8  ...   94564.40       0.0
..                    ...              ...  ...        ...       ...
238  Lamborghini Reventón  Motor 4.0 Turbo  ...   67664.86       0.0
242            Benni Mini         Motor V8  ...  126247.84       0.0
243                   Uno  Motor Diesel V6  ...  128852.21       0.0
245              Santa Fe    Motor 3.0 32v  ...  129415.33       0.0
248                  XC60  Motor 4.0 Turbo  ...   77675.79       0.0

[61 rows x 8 columns]

In [ ]:
#Substituindo dados:
#No caso NaN por 0
dataset.fillna(0)
#Mas ele não muda o dataset em si só faz a alteração na visualização, depois volta com o NaN

                      Nome                  Motor  ...      Valor     Km_media
0            Jetta Variant        Motor 4.0 Turbo  ...   88078.64  2775.625000
1                   Passat           Motor Diesel  ...  106161.94   204.000000
2                 Crossfox        Motor Diesel V8  ...   72832.16  1280.103448
3                      DS5        Motor 2.4 Turbo  ...  124549.07     0.000000
4         Aston Martin DB4        Motor 2.4 Turbo  ...   92612.10  1981.307692
..                     ...                    ...  ...        ...          ...
253           Phantom 2013               Motor V8  ...   51759.58  5501.000000
254  Cadillac Ciel concept               Motor V8  ...   51667.06  1070.750000
255             Classe GLK  Motor 5.0 V8 Bi-Turbo  ...   68934.03  3096.294118
256       Aston Martin DB5           Motor Diesel  ...  122110.90   334.130435
257                  Macan        Motor Diesel V6  ...   90381.47  1858.814815

[258 rows x 8 columns]

In [ ]:
#Tornando a alteração definitiva
dataset.fillna(0, inplace=True)
dataset

                      Nome                  Motor  ...      Valor     Km_media
0            Jetta Variant        Motor 4.0 Turbo  ...   88078.64  2775.625000
1                   Passat           Motor Diesel  ...  106161.94   204.000000
2                 Crossfox        Motor Diesel V8  ...   72832.16  1280.103448
3                      DS5        Motor 2.4 Turbo  ...  124549.07     0.000000
4         Aston Martin DB4        Motor 2.4 Turbo  ...   92612.10  1981.307692
..                     ...                    ...  ...        ...          ...
253           Phantom 2013               Motor V8  ...   51759.58  5501.000000
254  Cadillac Ciel concept               Motor V8  ...   51667.06  1070.750000
255             Classe GLK  Motor 5.0 V8 Bi-Turbo  ...   68934.03  3096.294118
256       Aston Martin DB5           Motor Diesel  ...  122110.90   334.130435
257                  Macan        Motor Diesel V6  ...   90381.47  1858.814815

[258 rows x 8 columns]

In [ ]:
dataset.query('Zero_km == True')
#Mostrando que alteração funcionou

                     Nome            Motor  ...      Valor  Km_media
3                     DS5  Motor 2.4 Turbo  ...  124549.07       0.0
6                      A5  Motor 4.0 Turbo  ...   56445.20       0.0
13                     J5         Motor V6  ...   53183.38       0.0
17                     A3     Motor 1.0 8v  ...   88552.39       0.0
21              Série 1 M         Motor V8  ...   94564.40       0.0
..                    ...              ...  ...        ...       ...
238  Lamborghini Reventón  Motor 4.0 Turbo  ...   67664.86       0.0
242            Benni Mini         Motor V8  ...  126247.84       0.0
243                   Uno  Motor Diesel V6  ...  128852.21       0.0
245              Santa Fe    Motor 3.0 32v  ...  129415.33       0.0
248                  XC60  Motor 4.0 Turbo  ...   77675.79       0.0

[61 rows x 8 columns]

In [ ]:
dataset = pd.read_csv('db.csv', sep = ';')

In [ ]:
dataset
#Esse dataset está com o problema do NaN

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [ ]:
dataset.dropna(subset = ['Quilometragem'], inplace = True )

In [ ]:
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
4         Aston Martin DB4  ...   92612.10
5            Palio Weekend  ...   97497.73
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[197 rows x 7 columns]

In [ ]:
#Eliminou os registros que continham o NaN